on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        include:
          - elixir: 1.10.x
            otp: 22.x
          - elixir: 1.11.x
            otp: 23.x
            check_formatted: true
            check_style: true

    services:
      postgres:
        image: postgres:11
        ports:
          - 5432/tcp
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3
    steps:
      - uses: actions/checkout@v2.3.5
      - uses: erlef/setup-elixir@v1.10
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Install Dependencies
        run: mix deps.get && mix deps.unlock --check-unused
      - name: Check formatting
        if: matrix.check_formatted
        run: mix format --check-formatted
      - name: Check style
        if: matrix.check_style
        run: mix credo --format flycheck
      - name: Compile project
        run: mix compile --warnings-as-errors
      - name: Run tests
        run: mix test  --cover
        env:
          DB_HOST: localhost
          DB_PORT: ${{ job.services.postgres.ports[5432] }}
